<div class="container">
	<section class="hero-section">
		<div class="hero-header">
			<div class="row">
				<div class="col-sm-3">
					<span class="logo-main">Design</span>
					<img src="../../assets/bydrozd_logo.png" alt="bydrozd Schriftzug" class="hero-logo">
				</div>
				<div class="col-sm-5">
					<nav>	
						<ul>
							<li>
								Home
							</li>
							<li>
								Objekte
							</li>
							<li>
								Kontakt
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-sm-4">
					<span class="lead text-red">Tel: 0152 5353531</span>
				</div>
			</div>
		</div>
		<main class="hero-main">
			<div class="row">
				<div class="col-sm-8">
					<h1>
						Design - Artur
						<span class="text-red display-block">1982</span>
					</h1>
				</div>
				<div class="col-sm-4 overflow-hidden">
					<img src="../../assets/interieur1.jpg" alt="test" class="hero-slider-img">
				</div>
			</div>
		</main>
		<div class="hero-footer">
			<nav>	
				<ul>
					<li>
						Houzz
					</li>
					<li>
						Pinterest
					</li>
					<li>
						Facebook
					</li>
				</ul>
			</nav>
		</div>
	</section>
</div>