.hero-section {
	border: 1px solid black;
	margin-top: 40px;

	.hero-header {
		height: 80px;
		border-bottom: 1px solid black;

	    .hero-logo {
	    	max-height: 45px;
	    	width: auto;
	    	display: block;
	    	padding-left: 15px;
	    	padding-top: 0px;
	    }

	    .logo-main {
	    	text-transform: uppercase;
	    	font-size: 18px;
	    	letter-spacing: 14px;
	    	text-decoration: italic;
	    	display: block;
	    	padding-left: 15px;
	    }

    	.row {
    		height: 100%;
    	}

	}
    nav {
    	height: 100%;
    	width: 100%;
    	position: relative;
    	top: 25px;

	    ul {
    		width: 100%;
	    	display: flex;
		    align-content: center;
		    align-items: center;
		    margin: 0;
		    height: 100%;
		    justify-content: center;

		    li {
		    	text-decoration: none;
		    	font-weight: 400;
		    	display: inline;
		    	padding: 0 20px;
		    	font-size: 20px;
		    }
    	}
    }

	.hero-main {
		text-align: center;
		max-height: 400px;
		overflow: hidden;

		h1 {
			font-size: 60px;
			text-transform: uppercase;
			text-decoration: italic;
			font-weight: 400;
			margin-top: 30%;
			transform: translateY(-50%);
		}

		.hero-slider-img {
			overflow: hidden;
			border-left: 1px solid black;
			margin-right: 15px;
			bottom: 145px;
		}
	}

	.hero-footer {
		height: 80px;
		border-top: 1px solid black;

		nav {
			top: 0;

			ul {
				justify-content: left;
			}
		}
	}
}