<div class="container">
	<section class="article-section">
		<span class="tagline text-red">Unsere Geschichte</span>
		<h1>Design By Drozd</h1>
		<strong>
Unter 100 Möbeln findet sich eines mit Potenzial Zeitlos ist unsere familiengeführte Gallerie für Stilobjekte und Möbel aus dem 20. Jahrhundert. Und
mit genau der selben Liebe, die uns als Familie zusammenhält, wählen wir
unsere Stücke auch aus. Wir sind Artur, Anna und Philip Drozd und mit unserer Passion für Design, Möbel und Interieur ergänzen wir uns in unseren
unterschiedlichen Fähigkeiten und versuchen dabei, etwas größeres als
die Summe unserer einzelnen Beiträge zu schaffen.
		</strong>

		<p>
Das ist Zeitlos Zeitlos sehen wir dabei als eine fein kurierte Ausstellung, quasi
der Schmelzpunkt, in dem die Passion für Design zusammenläuft. Hier werden
aus den vielen existierenden Möbeln und Objekten des Bauhaus, Art Deco und
der Moderne nur die feinsten herausgefiltert. Diese präsentieren wir dann, um
Ihnen die besten Stücke aus aller Welt in unseren Räumlichkeiten anzubieten.
„Aus aller Welt“ ist dabei kein leerer Marketing Spruch Auf der Suche nach den
Stücken, die Zeitlos bereichern würden, reisen wir regelmäßig durch verschiedenste Länder. Frankreich, Tschechien oder die USA bieten viele Möglichkeiten
um unser Sortiment zu erweitern.
		</p>

		<p>
Nach über 30 Jahren Arbeit mit den feinsten Hölzern und Materialien, kann
Chefdesigner Artur Drozd dabei sehr zuverlässig das Potenzial in einem Möbelstück erkennen. So finden wir häufig unter über 100 Stilobjekten das Eine
Stück, das unserern hohen Ansprüchen gerecht wird und im Zeitlos für Sie
präsentiert wird. Restaurieren ist besser als neu kaufen Handelt es sich um ein
betagtes Objekt, wird es in der hauseigenen Werkstatt unter Benutzung der
originalen und traditionellen Materialien und Techniken des ensprechenden
Stils aufgearbeitet. So können wir beispielsweise die Exklusivität eines 90
Jahre alten Originals des Bauhaus bewahren. Gleichzeitig fühlt es sich an, wie
neu. Nicht neu, wie aus der Fabrik ...
		</p>

	</section>
	<p class="mt-2 mb-2">
		2020 Copyright Artur Drozd
	</p>
</div>