.article-section {
	padding-bottom: 40px;
	border-bottom: 1px solid black;

	.tagline {
		text-transform: uppercase;
		font-size: 24px;
	}
	.headline {

	}
	p {
		padding: 15px 0;
	}
	a.cta {
		bottom: 0px;
	}
}
