
<div class="container">
	<section class="article-section">
		<span class="tagline text-red">Wir machen Ihre Idee zur Wirklichkeit!</span>
		<h1>Chefdesigner Artur Drozd direkt kontaktieren</h1>

		<p>
			Suchen Sie ein besimmtes Möbelstück aus einer Stilepoche? Wir besorgen es Ihnen über unser Netzwerk.<strong> Restaurieren ist besser als neu kaufen.</strong> Falls Sie also ein in die Tage gekommenes Möbelstück wieder neues Leben einhauchen müssten, aber nie dazu kommen, reicht ein Klick.
			Besonders glücklich bin ich aber, wenn Sie neu einziehen. <strong>Als Interior Designer nehme ich Ihnen die Sorgen gerne ab!</strong>
		</p>

	</section>















	<div class="row">
		<div class="col-sm-6">
			<section class="contact-form-section">
				<div class="form-container">
					<form>
						<label>Kontaktformular</label>
						<input type="text" name="name" value="Name*" required>
						<input type="email" name="mail" value="E-Mail*" required>
						<input type="text" name="nummer" value="Telefonnummer">
						<input type="text" name="betreff" value="Betreff der Mail*" required>
						<textarea name="inhalt" rows="5" cols="50">Ihr Anliegen kann sich um alles handeln.</textarea>
						<input type="submit" name="submit" value="senden">
					</form>
				</div>
			</section>
		</div>
	

		<div class="col-sm-6 faq">
			<h3>Häufig gestellte Fragen</h3>
			<p>Um die am häufigsten auftretenden Unklarheiten zu lüften, haben
			wir diese mit Antworten hier aufgelistet.</p>
			<strong>Wie viel kostet die Lieferung innerhalb Berlins?</strong>
			<p>Entsprechend der Warenmenge 40€ - 120€</p>
			<strong>Kann man die Möbel bei sich probestellen?</strong>
			<p>Selbstverständlich, undzwar kostenlos.</p>
			<strong>Können Sie bestimmte Stücke für mich reservieren?</strong>
			<p>Nein, leider sind keine Reservierungen möglich.</p>
			<strong>Wie viel kostet die Lieferung innerhalb Berlins?</strong>
			<p>Entsprechend der Warenmenge 40€ - 120€</p>
			<strong>Kann man die Möbel bei sich probestellen?</strong>
			<p>Selbstverständlich, undzwar kostenlos.</p>
			<strong>Können Sie bestimmte Stücke für mich reservieren?</strong>
			<p>Nein, leider sind keine Reservierungen möglich.</p>
		</div>
	</div>
</div>


