<section class="header">

	<article class="header-content-sec">
		<nav>	
			<ul>
				<li>
					<a routerLink="/home">
						Home
					</a>
				</li>
				<li>
					<a routerLink="/arbeiten">
						Designs
					</a>
				</li>
				<li>
					<a routerLink="/requisiten">
						Requisiten
					</a>
				</li>
				<li>
					<a routerLink="/faq">
						Fragen
					</a>
				</li>
				<li>
					<a routerLink="/kontakt">
						Kontakt
					</a>
				</li>
			</ul>
		</nav>
		<h1 class="text-uppercase">Design <span class="text-red">by Drozd</span></h1>
		<strong>Eigenkreationen und maßgeschneiderte Wunschobjekte</strong>
		<p>Ihre Zufriedenheit ist bei uns die oberste Priorität. Von der Skizzierung bis hin zur Auslieferung.</p>

		<img src="/../../assets/3furnitures.png" alt="logo" class="logo-furnitures">
	</article>


	<span class="info tel">0172 5252531</span>
	<span class="info mail">mail@design.bydrozd.com</span>
	<span class="info bydrozd">Artur Drozd</span>

</section>
<section class="border-top border-bottom">
	<h2 class="mb-2 mt-2 pl-2">Unsere Arbeiten</h2>
	<div class="row">
		<div class="col-sm-6 border-right border-top pl-2 p-2">
			<article class="p-2">
				<p>
					Parallel zu unserer Möbelrestaurierung bauen wir für Sie edle Möbel aus Massivholz. Die für den Bau unserer Möbel verwendeten Materialien sind von allerfeinster Qualität. Da kein Stamm dem anderen gleicht, ist jedes von uns gebaute Objekt ein Unikat.
				</p>
				<br>
				<p>
					Unser Ziel ist es, jeden Ihrer Wünsche, was die Holzart, Form, Farbe und die Maße betrifft, zu erfüllen. Die Holzart können Sie zwischen Kiefer, Erle, Eiche oder Kirsche wählen. Aber auch andere Hölzer können wir für Sie verarbeiten. Bei der Form der Objekte können wir auf alle spezifischen Merkmale der Möbelgeschichte zurückgreifen und sie nach Wunsch auch miteinader vermischen.
				</p>
				<br>
				<p>
					Wir beizen unsere Möbel individuell, sodass sie auch zu anderem Mobiliar passen. Bei der Versieglung der Oberfläche können Sie sich zwischen Schellack, Wachs, Hartöl oder Kunstlack entscheiden.
				</p>
			</article>
		</div>
		<div class="col-sm-6 border-top">
			<img src="/../../assets/hero1.jpg" alt="test" class="content-image">
		</div>
	</div>
</section>

<app-footer></app-footer>