
<div class="container">
	<section>
		<app-main-nav></app-main-nav>
	</section>

	<section>
		<div class="row">
			<div class="col-sm-6">
				<h1>Häufig gestellte Fragen</h1>
				<p>Um die am häufigsten auftretenden Unklarheiten zu lüften, haben
				wir diese mit Antworten hier aufgelistet.</p>
			</div>
		

			<div class="col-sm-6 faq">
				<strong>Wie viel kostet die Lieferung innerhalb Berlins?</strong>
				<p>Entsprechend der Warenmenge 40€ - 120€</p>
				<strong>Kann man die Möbel bei sich probestellen?</strong>
				<p>Selbstverständlich, undzwar kostenlos.</p>
				<strong>Können Sie bestimmte Stücke für mich reservieren?</strong>
				<p>Nein, leider sind keine Reservierungen möglich.</p>
				<strong>Wie viel kostet die Lieferung innerhalb Berlins?</strong>
				<p>Entsprechend der Warenmenge 40€ - 120€</p>
				<strong>Kann man die Möbel bei sich probestellen?</strong>
				<p>Selbstverständlich, undzwar kostenlos.</p>
				<strong>Können Sie bestimmte Stücke für mich reservieren?</strong>
				<p>Nein, leider sind keine Reservierungen möglich.</p>
				<strong>Wie viel kostet die Lieferung innerhalb Berlins?</strong>
				<p>Entsprechend der Warenmenge 40€ - 120€</p>
				<strong>Kann man die Möbel bei sich probestellen?</strong>
				<p>Selbstverständlich, undzwar kostenlos.</p>
				<strong>Können Sie bestimmte Stücke für mich reservieren?</strong>
				<p>Nein, leider sind keine Reservierungen möglich.</p>
		</div>
	</div>
</section>
<app-slider></app-slider>
</div>	