<img src="../../assets/interieur2.jpg" alt="test" class="hero-slider-img mySlides" id="MyDOMElement">
<img src="../../assets/interieur1.jpg" alt="test" class="hero-slider-img mySlides">
<img src="../../assets/interieur2.jpg" alt="test" class="hero-slider-img mySlides">
<img src="../../assets/interieur1.jpg" alt="test" class="hero-slider-img mySlides">

<button class="w3-button w3-display-left" (click)="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" (click)="plusDivs(+1)">&#10095;</button>